server:
  port: 8083
spring:
  application:
    name: spring-cloud-hystrix-collapsing
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
feign:
  hystrix:
    enabled: true
